//
// solana-variables.scss
// Use this to overwrite Bootstrap and Dashkit variables
//

// Example of a variable override to change Dashkit's background color
// Remove the "//" to comment it in and see it in action!
$body-bg: #f9fdfc !default;

// Colors

$white: #ffffff !default;
$gray-100: #E9E8F1;
$gray-200: #DFDDEB;
$gray-300: #D5D3E4;
$gray-400: #B6B3D1;
$gray-500: #ACA8CB;
$gray-600: #847DB2;
$gray-700: #665E9E;
$gray-800: #28253E;
$gray-900: #2F2B49;
$black: #232323;

$rainbow-1: #fa62fc;
$rainbow-2: #be84e8;
$rainbow-3: #79abd2;
$rainbow-4: #38d0bd;
$rainbow-5: #946BEC;

$primary: #946BEC !default;
$primary-dark: #946BEC !default;
$success: #946BEC !default;
$secondary: $gray-700;
$danger: #b45be1;
$warning: #d83aeb !default;
$info: #946BEC !default;
$light: $gray-100;
$dark: $gray-900;

$theme-colors: (
    'black': $black,
    'gray': $gray-900,
) !default;

$card-border-color: $gray-300 !default;
$input-group-addon-color: $gray-900 !default;
$navbar-light-active-color: $primary-dark;
$link-color: $primary-dark;

// Global

.display-2 {
    font-family: Saira, Helvetica, sans-serif;
}

.text-rainbow {
    background: linear-gradient(0.3turn, #e400ff, #946BEC);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-rainbow {
    background: linear-gradient(0.3turn, #e400ff, #946BEC);
}

.bg-rainbow-1 {
    background: #fa62fc;
}
.bg-rainbow-2 {
    background: #be84e8;
}
.bg-rainbow-3 {
    background: #79abd2;
}
.bg-rainbow-4 {
    background: #946BEC;
}
.bg-rainbow-5 {
    background: #946BEC;
}

.text-rainbow-1 {
    color: #fa62fc;
}
.text-rainbow-2 {
    color: #be84e8;
}
.text-rainbow-3 {
    color: #79abd2;
}
.text-rainbow-4 {
    color: #946BEC;
}
.text-rainbow-5 {
    color: #946BEC;
}
